.lg-object .lg-image {
    margin-left: 5vw;
}
div.lg-img-wrap {
    margin-left: 5vw;
}

// div.lg-inner {
//     margin-left: 5vw;
// }

.footer-widget .subscribe-style .subscribe-form input {
    color : white;
}