.lg-object .lg-image {
    margin-left: 5vw;
}
div.lg-img-wrap {
    margin-left: 5vw;
}

// div.lg-inner {
//     margin-left: 5vw;
// }

.footer-widget .subscribe-style .subscribe-form input {
    color : white;
}

// Product Page : Product Color Radio Button Size 
.product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content--single {
    height : 1.8rem;
    width : 1.8rem;
}
.product-details-content .pro-details-size-color .pro-details-color-wrap .pro-details-color-content--single .checkmark:after {
    width: 2rem;
    height: 2rem;
    top: -5.5px;
    left: -2.5px;
}

.accordion-button:not(.collapsed){
    color : $theme-color;
    background-color: white;
}

.product-large-image-wrapper .product-sticky-image .product-sticky-image__single {
  @media #{$xs-layout} {
    margin-left: 0;
    margin-bottom: 1rem;
  }
   
}